html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

div.header {
    background-color: #f7a603;
    width: 100%;
}

div.toplogo {
    position: relative;
    background-image: url(../assets/ludwigslogo.png);
    height: 150px;
    width: 278px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

div.linkbar {
    width: 65%;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    z-index: 1;
    font-weight: 700;
    color: #7f5823;
    margin: 0 auto;
}

.linkbar .link {
    padding: 20px 0 8px;
    width: 140px;
    text-align: center;
}

.linkbar .link a {
    color: #7f5823;
}

.linkbar .link a:hover {
    color: #B37223;
}

.linkbar .link.active {
    background: #FFF;
    border-radius: 10px 10px 0 0;
}

div.info {
    font-weight: 400;
    font-size: 15px;
    color: black;
    text-align: center;
}

div.footer {
    background-color: #e1e1e1;
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 28px;
    font-weight: 300;
    font-size: 1em;
}

a.headtext {
    font-weight: 400;
}

div.feet {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    height: 200px;
}

.minilink:hover {
    color: #D69310;
}

div.smlogo {
    background-image: url(../assets/ludwigslogo.png);
    width: 200px;
    height: 108px;
    background-repeat: no-repeat;
    background-size: contain;
}

div.smlogo,
div.hours,
div.navigation,
div.contact {
    margin: auto 0;
}