.content {
    font-size: 1em;
}

.splash {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    font-size: 2.75em;
}

.downline {
    margin: 0 auto;
    background-image: url(../assets/downline.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 275px;
    height: 65px;
    padding-left: 0;
}

.payge {
    width: 60%;
    margin: 0 auto;
}

.row1,
.row2 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.restau {
    background-image: url(../assets/restau.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 230px;
    border: 5px;
    border-style: solid;
    border-color: #f7a603;
    margin: auto;
}

.explore {
    font-size: 1.3em;
    width: 300px;
    height: 230px;
    line-height: 35px;
    margin: auto;
    padding-top: 70px;
}

.explore a {
    color: #f7a603;
}

.callin {
    font-size: 1.3em;
    width: 300px;
    height: 150px;
    margin: auto;
    padding-top: 35px;
}

.outside {
    background-image: url(../assets/outside.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 230px;
    border: 5px;
    border-style: solid;
    border-color: #f7a603;
    margin: auto;
}

.phnum {
    line-height: 50px;
    color: #f7a603;
}

.box {
    width: 50%;
    height: 240px;
}