.splash {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    font-size: 55px;
}

.downline {
    margin: 0 auto;
    background-image: url(../ASSETS/downline.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 275px;
    height: 65px;
    padding-left: 0;
}

.quicktitle,
.quicksep {
    font-size: 24px;
    margin-left: 25%;
    font-weight: 700;
}

.quicksep {
    background-image: url(../ASSETS/quickhr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 222px;
    height: 15px;
}

.qlinks {
    display: flex;
    justify-content: space-around;
    width: 52%;
    margin: 0 auto;
    font-size: 20px;
}

.bfasttitle,
.grilltitle,
.delititle,
.gotitle,
.quichetitle,
.saladtitle,
.souptitle,
.sidetitle {
    font-size: 20px;
    padding: 0 15px;
    line-height: 30px;
    font-weight: 700;
}

.menue {
    display: flex;
    justify-content: center;
}

.leftcol {
    width: 475px;
    padding-right: 15px;
    text-align: left;
}

.rightcol {
    width: 475px;
    padding-left: 15px;
}

.bord {
    border: 5px;
    border-color: #f7a603;
    border-style: solid;
    padding: 15px 10px;
    background-color: #e1e1e1;
}

.option {
    font-weight: 700;
    font-size: 18px;
}

.price {
    font-weight: 700;
}