@media only screen and (max-width: 1060px) {
    
    html,
    body {
        font-size: 18px;
    }
    
    .leftcol,
    .rightcol {
        width: 425px;
    }
    
    .downline {
        height: 55px;
    }
    
    .quicksep {
        height: 10px;
    }
    
    div.toplogo {
        height: 140px;
    }
    
    .outside {
        height: 200px;
        width: 140px;
    }
    
    .restau {
        height: 200px;
        width: 270px;
    }

}

@media only screen and (max-width: 900px) {
    
    html,
    body {
        font-size: 18px;
    }
    
    .menue {
        display: block;
        align-content: center;
    }
    
    .leftcol,
    .rightcol {
        padding: 0;
        margin: 0 auto;
        width: 475px;
    }
    
    .smlogo {
        display: none;
    }
    
    .menue {
        font-size: 20px;
    }
    
    .linky {
        display: none;
    }
    
    .moblinky {
        display: table;
        margin: 0 auto;
    }
    
    .row1,
    .row2 {
        display: block;
    }
    
    .box {
        margin: 0 auto;
        width: 100%;
    }
    
}

@media only screen and (max-width: 700px) {
    
    html,
    body {
        font-size: 16px;
    }

    div.linkbar {
        width: 90%;
    }
    
    .menue {
        font-size: 20px;
    }
    
    .navigation {
    	display: none;
    }
    
}

@media only screen and (max-width: 500px) {

	html,
	body {
		font-size: 13px;
	}

	.menue {
		font-size: 16px;
	}
	
	.leftcol,
	.rightcol {
		width: 300px;
	}
	
	div.feet {
		width: 100%;
	}
	
	div.linkbar {
		width: 95%;
	}
    
}