@media only screen and (max-width: 1060px) {
    
    html,
    body {
        font-size: 18px;
    }
    
    .leftcol,
    .rightcol {
        width: 425px;
    }
    
    .downline {
        height: 55px;
    }
    
    .quicksep {
        height: 10px;
    }
    
    div.toplogo {
        height: 140px;
    }
    
    .outside {
        height: 200px;
        width: 140px;
    }
    
    .restau {
        height: 200px;
        width: 270px;
    }
    
    .specialsec {
        width: 500px;
    }
    
    .mapframe {
        width: 325px;
        height: 200px;
    }
    
    .locinfo {
        padding-top: 30px;
        width: 350px;
    }

}

@media only screen and (max-width: 900px) {
    
    html,
    body {
        font-size: 18px;
    }
    
    .menue {
        display: block;
        align-content: center;
    }
    
    .leftcol,
    .rightcol,
    .specialsec{
        padding: 0;
        margin: 0 auto;
        width: 475px;
    }
    
    .smlogo {
        display: none;
    }
    
    .menue {
        font-size: 20px;
    }
    
    .linky {
        display: none;
    }
    
    .moblinky {
        display: table;
        margin: 0 auto;
    }
    
    .row1,
    .row2 {
        display: block;
    }
    
/*
    .box {
        margin: 0 auto;
        width: 100%;
        height: 200px;
    }
*/
    
    .callin {
        padding-top: 0px;
    }
    
    .explore {
        padding-top: 80px;
    }
    
    .payge {
        display: block;
    }
    
    .locinfo {
        padding-top: 0;
        text-align: center;
        margin: 0 auto;
        padding-right: 0;
    }
    
    .maaap {
        padding-left: 0;
        padding-bottom: 50px;
        width: 500px;
        margin: 0 auto;
    }
    
    .mapframe {
        width: 490px;
        height: 290px;
    }
    
    div.linkbar {
        width: 90%;
    }
    
}

@media only screen and (max-width: 700px) {
    
    html,
    body {
        font-size: 16px;
    }

    div.linkbar {
        width: 90%;
    }
    
    .menue {
        font-size: 20px;
    }
    
    .navigation {
    	display: none;
    }
    
}

@media only screen and (max-width: 500px) {

	html,
	body {
		font-size: 13px;
	}

	.menue {
		font-size: 16px;
	}
	
	.leftcol,
	.rightcol,
    .specialsec{
		width: 300px;
	}
	
	div.feet {
		width: 100%;
	}
	
	div.linkbar {
		width: 95%;
        font-size: 0.9em;
	}
    
    .restau {
        height: 110px;
        width: 180px;
    }
    
    .explore {
        width: 190px;
        padding-top: 0px;
    }
    
    .callin {
        width: 190px;
    }
    
    .maaap {
        width: 300px;
    }
    
    .mapframe {
        width: 290px;
    }
    
    .locinfo {
        width: 90%;
    }
    
}