@media only screen and (max-width: 1060px) {
    
    html,
    body {
        font-size: 18px;
    }
    
    .leftcol,
    .rightcol {
        width: 425px;
    }
    
    .downline {
        height: 55px;
    }
    
    .quicksep {
        height: 10px;
    }
    
    div.toplogo {
        height: 140px;
    }

}

/*
@media only screen and (max-width: 900px) {

    html,
    body {
        font-size: 16px;
    }

    .leftcol,
    .rightcol {
        width: 375px;
    }

    .downline {
        height: 45px;
    }
    
    .quicksep {
        height: 8px;
    }
    
    div.toplogo {
        height: 130px;
    }
    
}
*/

@media only screen and (max-width: 900px) {
    
    html,
    body {
        font-size: 18px;
    }
    
    .menue {
        display: block;
        align-content: center;
    }
    
    .leftcol,
    .rightcol {
        padding: 0;
        margin: 0 auto;
        width: 475px;
    }
    
    .smlogo {
        display: none;
    }
    
    .menue {
        font-size: 20px;
    }
    
    .linky {
        display: none;
    }
    
    .moblinky {
        display: block;
    }
    
}

@media only screen and (max-width: 700px) {
    
    html,
    body {
        font-size: 16px;
    }

    div.linkbar {
        width: 90%;
    }
    
    .menue {
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 575px) {
    
}